{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
	
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--<link rel="stylesheet" href="./css/style.css?1.0">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png"  href="{% static 'imagenes/logoicon.png' %}" sizes="30x30" >

    <title>FCPN INF-324</title>
</head>
<body>
    
    <div id="page">
        <nav class="nav">  
            <div class="container-nav">
                    <div class="col1">
						<div id="logo"><a href="{% url 'pantalla' %}"><img src="{% static 'imagenes/logo1.png' %}" alt=""></a></div>
					</div>
                    <div class="col2">
                        <ul>
					        <li><a href="{% url 'pantalla' %}">Inicio</a></li>
					        <li><a href="{% url 'info' %}">Informática</a></li>
					        <li><a href="{% url 'esta' %}">Estadística</a></li>
					        <li><a href="{% url 'mate' %}">Matemática</a></li>
					        <li class="btn-cta"><a href="{% url 'salir' %}"><span>Acceder</span></a></li>
					        <li class="btn-cta"><a href="{% url 'salir' %}"><span>Salir</span></a></li>
				        </ul>
                    </div>
            </div>  
        </nav>       
        <h2 style= 'widt:10%;background-color:#F7AA00; margin-left:3%;margin-right:80%;padding:5px;padding-left:35px;border-radius:10px 10px 0 0; font-size:30px;color:black; font-weight: 300;'>Bienvenido {{ request.session.user }}</h2>

   <div class= "carrera">
        <h1>Carrera de Estadística</h1>
        <p>Excelencia en la Formación Profesional en el área de Estadística</p>
        <section id="intro">
            <div class="intro-container">
                <div class="imgblock" style="background-image:linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url({% static 'imagenes/esta2.jpg' %});">
                    
                </div>
                <div class="row">
                    <div class="block">
                        <div class="section-title">
                            <h2>Misión</h2>
                            <p>Formar profesionales idóneos y competentes en el campo de la estadística, capaces de resolver problemas de forma creativa, innovadora y ética con la utilización de la tecnología, los conocimientos científicos y comprometidos con el desarrollo sostenible del país.</p>
                        </div>
                    </div>

                    <div class="block">
                        <div class="section-title">
                            <h2>Visión</h2>
                            <p>La Carrera de Estadística es Líder en la formación de profesionales en la ciencia de la estadística, buscando la excelencia académica a través del desarrollo de la docencia, investigación y extensión. Capacitados para impulsar el desarrollo del país con conocimiento de la realidad nacional, dotados de recursos científicos, informativos y técnicos al servicio de la población.</p>
                        </div>
                    </div>

                </div>
        </section>
        <div class="reflexion">
            <h2>Formar profesionales idóneos y competentes en el campo de la estadística, capaces de generar y difundir conocimiento científico, con pensamiento reflexivo-crítico, innovador y creativo, de apoyo a los procesos de toma de decisiones, comprometidos con el desarrollo sostenible del país. <br>
Desarrollar y difundir la ciencia, la tecnología y la cultura en general dentro y fuera de la carrera de Estadística.</h2>
        </div>
    </div>
<!--FOOTER-->
<section id="contacto">
    <div id="contacto-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.3569777339331!2d-68.13029897078201!3d-16.504480913440315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f21ef47ebd1fb%3A0xf4df4ed38c2dc9d!2sFacultad%20de%20Ciencias%20Puras%20y%20Naturales%20-%20UMSA!5e0!3m2!1ses!2sbo!4v1650139949346!5m2!1ses!2sbo" width="600" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div id="textcontact">
            
            <h3>Dirección de visita</h3>
            <h4>Nos encontramos en:</h4>
            <div id="contenidocontacto">
                <p><i class="fas fa-map-marker-alt"></i>Av. Villazón N° 1995, Plaza del Bicentenario – Zona Central<br>
                <i class="fab fa-facebook"></i>Facebook: Dame_unaPata <br>    
                <i class="fas fa-phone-square"></i>Telf: 261-2901/2440571 <br>
                <i class="fas fa-envelope"></i>Correo: decanato@fcpn.edu.bo <br>
                </p>
                <h5>Cualquier donación nos ayudaría</h5>
            </div>

        </div>
    </div>
</section>

<footer>
    <div class="footer-container" style="background-image:url({% static 'imagenes/school.jpg' %});">
        <div class="footer-overlay">
            <div class="footer-intro">
                <img id="logofcpn"src="{% static 'imagenes/logo2.png' %}">    
                <h3>Síguenos</h3>                     
                <img src="{% static 'imagenes/umsa.png' %}" style="width: 3.5%;height: 3.5%">
            </div>

            <div class="redessol">
                <a href="" class="fenlaces"><i class="fab fa-facebook"></i></a>
                <a href="" class="fenlaces"><i class="fab fa-instagram"></i></a>
                <a href="" class="fenlaces"><i class="fab fa-twitter"></i></a>
                <a href="" class="fenlaces"><i class="fab fa-linkedin-in"></i></a>

            </div>

            <div>
                <p class="footer-copy">Copyright &copy; 2022 Neil Graneros</p>
            </div>

        </div>
       
       

    </div>
</footer>
<button id="topBtn"><i class="fas fa-arrow-up"></i></button>




<script>
    $(document).ready(function(){

      $(window).scroll(function(){
        if($(this).scrollTop() > 40){
          $('#topBtn').fadeIn();
        } else{
          $('#topBtn').fadeOut();
        }
      });

      $("#topBtn").click(function(){
        $('html ,body').animate({scrollTop : 0},800);
      });
    });
</script>      



</div>



<div class="fh5co-loader"></div>

</body>

<script src="{% static 'js/main.js' %}"></script>

</html>